* {
  box-sizing: border-box;
}

body {
  background-color: #d1fdde;
  display: flex;
  font-family: "Space Grotesk";
  height: 100vh;
  margin: 0;
}

nav {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  display: flex;
  position: sticky;
  top: 0;
  padding: 20px;
  transition: width 0.6s linear;
}

nav ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
  transition: width 0.6s linear;
  width: 0;
}

nav.active ul {
  width: 100%;
}

nav ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

nav ul a {
  position: relative;
  color: #000;
  text-decoration: none;
  display: block;
  margin: 0 10px;
}


.icon {
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}

.icon:focus {
  outline: none;
}

.icon .line {
  background-color: #1c813a;
  position: absolute;
  top: 10px;
  left: 5px;
  height: 2px;
  width: 20px;
  transition: transform 0.6s linear;
  transform-origin: center center;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}

#needsPad {
  padding-bottom: 40px;
}

.lessPad {
  padding-bottom: 20px;
}

.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  width: 100vw; 
}

#sim {
  background-color: #fff;
  width: 90%;
  max-width: 90%;
  transition: max-width 0.6s linear;
  height: 90%;
  margin: auto;
  transition: width 0.6s linear;
  
}

#starting {
  height: 100%;
  display: flex;
  align-items: center;
}

.box {
  margin: auto 0; 
  margin-left: 30px;
  background-color:rgb(156, 156, 156);
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#stack {
  position: relative;
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

#dragonCanvas {
  width: 100%;
  height: auto;
  display: block;
}

#stack .pattern {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}